# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: f984f21d4ee440c4c6bcf81fbffdfb8da86fb37fcae561fee363e7bb171346194dc5b4cf719b899b229bc79b9cc1f0089afbd76bcc75cf069442df8e28cd1ce3

test:
  secret_key_base: 4e160a359489853a273c1485520d957d85f24f69bf91da462f34ac634e6baa05983e5c9c160098213ab3ee11b2a8bbbc7474e439387039cc4737d13ad63a1843

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
